{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">Thử nghiệm phân biệt người nói</h1>
    <p class="lead">Xác định xem hai giọng nói có phải là của cùng một người hay không?</p>
    <hr class="my-4">
    <p>
        Cảm ơn bạn đã tham gia thử nghiệm này！
    </p>
    <p>
        Trong thí nghiệm này, chúng tôi sử dụng máy tính tổng hợp và chuyển đổi giọng nói của con người. Mỗi câu hỏi có hai tệp âm thanh, sau khi nghe bằng tai nghe, hãy trả lời theo mức độ giống nhau của người nói của hai tệp âm thanh (chỉ xét giọng nói của người nói, không xét nội dung của câu)。
    </p>
    <p>
        Tiêu chuẩn chấm điểm là：
        <ul>
            <li>Chắc chắn là cùng một người nói(same, absolutely sure)</li>
            <li>Không chắc chắn, nhưng có xu hướng nghĩ rằng họ là cùng một người nói (same, not sure)</li>
            <li>Không chắc chắn, nhưng có xu hướng nghĩ rằng đó là một người nói ngôn ngữ khác (different, not sure)</li>
            <li>Chắc chắn là một người nói khác (different, absolutely sure)</li>
        </ul>
    </p>
{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="card form-group">
            <div class="card-header">{{ question.title }}</div>
            <div class="card-body">
                {% for audio_path in question.audio_paths %}
                    <p>
                        <audio controls src="{{ audio_path }}">
                            Your browser does not support the audio element.
                        </audio>
                    </p>
                {% endfor %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_1" value="1" required>
                    <label class="form-check-label" for="{{ question.name }}_1">Chắc chắn là cùng một người nói (same, absolutely sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_2" value="2" required>
                    <label class="form-check-label" for="{{ question.name }}_2">Không chắc chắn, nhưng có xu hướng nghĩ rằng họ là cùng một người nói (same, not sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_3" value="3" required>
                    <label class="form-check-label" for="{{ question.name }}_3">Không chắc chắn, nhưng có xu hướng nghĩ rằng đó là một người nói ngôn ngữ khác (different, not sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_4" value="4" required>
                    <label class="form-check-label" for="{{ question.name }}_4">Chắc chắn là một người nói khác (different, absolutely sure)</label>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
